@import '../../../styles/globals.scss';

@mixin box {
  border: 1px solid black;
  background: $gray;
  height: 200px;
  width: 200px;
  position: relative;
  @include flexCenter;
}

.box {
  @include box;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  &-filled {
    @include box;
  }
  &-img {
    width: 200px;
    height: fit-content;
    object-fit: fill;
  }
  &-cross {
    background: black;
    width: 180px;
    position: absolute;
    bottom: 100px;
    left: 10px;
    height: 10px;
    &-right {
      transform: rotate(135deg);
    }
    &-left {
      transform: rotate(45deg);
    }
  }
  &-circle {
    border: 10px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

@media (max-width: $media-900px) {
  .box {
    height: 100px;
    width: 100px;
    &-filled {
      height: 100px;
      width: 100px;
    }
    &-cross {
      width: 80px;
      top: 45px;
    }
    &-circle {
      width: 60px;
      height: 60px;
    }
  }
}
