// COLOR PALETTE

$white: white;
$red: #e7625f;
$rose-red: #c85250;
$rose-quartz: #f7bec0;
$ivory: #e9eae0;
$gray: gray;

// VARIABLES

$global-primary-radius: 0.75rem;

// MEDIA QUERYS

$media-900px: 900px;
$media-700px: 700px;
$media-600px: 600px;
$media-500px: 500px;

// FONT-FAMILY

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Zen Old Mincho', serif;
}

// MIXINS

@mixin flex {
  display: flex;
}
@mixin flexCenter {
  @include flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterColumn {
  @include flex;
  align-items: center;
  flex-direction: column;
}

@mixin flexEvenly {
  @include flex;
  justify-content: space-evenly;
  align-items: center;
}
