@import '../styles/globals.scss';

.landing {
  @include flexCenter;
  &-container {
    @include flexCenterColumn;
    border: 5px solid $red;
    padding: 3rem;
    margin: 3rem 0 3rem 0;
    width: 50%;
    border-radius: $global-primary-radius;
  }
  &-links {
    @include flexEvenly;
    width: 100%;
    gap: 2rem;
    &-item {
      text-decoration: none;
      color: $white;
      padding: 1rem;
      background-color: $red;
      border-radius: $global-primary-radius;
    }
  }
}

@media (max-width: $media-900px) {
  .landing {
    &-links {
      justify-content: space-between;
      gap: 0;
    }
  }
}

@media (max-width: $media-500px) {
  .landing {
    &-links {
      &-item {
          padding: 0.5rem;
          font-size: 0.75rem;
      }
    }
  }
}
