@import './globals.scss';

.ticTacToe {
  @include flexCenter;
  margin: 3rem 0 3rem 0;
  gap: 3rem;
}

@media (max-width: $media-900px) {
  .ticTacToe {
    margin: 0;
    margin-top: 3rem;
  }
}
@media (max-width: $media-600px) {
  .ticTacToe {
    flex-direction: column;
  }
}
