@import '../../../styles/globals.scss';


.picker-button{
    background-color: $red;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    width: 200px;
    border-radius: 0.3rem;
    color: $white;
    cursor: pointer;
    &-container{
        @include flexCenterColumn;
        gap: 1rem;
    }
    &-disabled{
        opacity: 0.5;
        &:hover{
            cursor: not-allowed;
        }
    }
}

@media (max-width: $media-900px){
    .picker-button{
        &-container{
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

@media (max-width: $media-700px){
    .picker-button{
        width: 150px;
        padding: 1rem;
    }
}

@media (max-width: $media-500px){
    .picker-button{
        width: 100px;
        padding: 0.4rem;
        font-size: 0.75rem;
        margin-bottom: 2rem;
    }
}