@import '../../../styles/globals.scss';


.card-container{
    display: grid;
    width: 50%;
    grid-gap: 10px;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.color-picker{
    &-container{
        margin-top: 3rem;
    }
    &-error{
        width: 80%;
        color: $red;
        border: 1px solid $rose-red;
        background: rgba(238, 151, 151, 0.664);
        padding: 1rem;
        @include flexCenter;
        position: relative;
        &-button{
            position: absolute;
            border: none;
            color: $white;
            background: none;
            top: 0.5rem;
            right: 0.5rem;
            cursor: pointer;
        }
    }
}