@import '../../../styles/globals.scss';

.card {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
  }
  &-selected {
    opacity: 1;
    &:hover {
      opacity: 0.9;
    }
  }
}

@media (max-width: $media-700px) {
  .card {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: $media-500px) {
  .card {
    width: 70px;
    height: 70px;
  }
}
