@import '../../styles/globals.scss';

.nav{
    background: $red;
    height: 70px;
    position: relative;
    @include flexCenter;
    &-links{
        @include flexEvenly;
        width: 40%;
        &-item{
            text-decoration: none;
            color: $white;
            border-left: 1px solid gray;
            border-right: 1px solid gray;
            padding: 0.8rem;
        }
    }
    &-logo{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: $media-700px){
    .nav{
        padding: 0.5rem;
        gap: 2rem;
        &-links{
            justify-content: space-between;
            &-item{
                border: none;
            }
        }
        &-logo{
            position: absolute;
            left: 20px;
            top: 0;
        }
    }
}