@import '../../../styles/globals.scss';
@import '../../ColorPicker/CPButtons/cpButtons.scss';
@import '../Box/box.scss';

.turn-title {
  font-size: 1.5rem;
}

.ttt-button {
  background-color: $red;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.2rem;
  width: 200px;
  border-radius: 0.3rem;
  color: $white;
  cursor: pointer;
  &-container {
    @include flexCenterColumn;
    gap: 1rem;
  }
  &-disabled {
    opacity: 0.5;
    &:hover {
      cursor: not-allowed;
    }
  }
}

@media (max-width: $media-900px) {
  .ttt-button {
    width: 100px;
    padding: 0.4rem;
    font-size: 0.75rem;
    &-container {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: $media-600px) {
  .ttt-button {
    &-container {
      flex-direction: row;
    }
  }
}
