@import '../../../styles/globals.scss';

.ttt{
    &-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        border: 1px solid black;
        width: fit-content;
        height: fit-content;
    }
    &-error{
        width: 80%;
        color: $red;
        border: 1px solid $rose-red;
        background: rgba(238, 151, 151, 0.664);
        padding: 1rem;
        @include flexCenter;
        position: relative;
        &-button{
            position: absolute;
            border: none;
            color: $white;
            background: none;
            top: 0.5rem;
            right: 0.5rem;
            cursor: pointer;
        }
    }
    &-winner{
        text-align: center;
        &-side{
            color: rgb(154, 216, 61);
            font-weight: bolder;
        }
    }
}