@import '../../styles/globals.scss';

.footer{
    background: $ivory;
    height: 200px;
    @include flexCenter;
    position: absolute;
    bottom: -10vh;
    width: 100%;
}

@media (max-width: $media-900px){
    .footer{
        bottom: -20vh;
    }
}

@media (max-width: $media-700px){
    .footer{
        bottom: 0;
    }
}

@media (max-width: $media-500px){
    .footer{
        font-size: 0.75rem;
    }
}